<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Author Meta -->
<meta name="author" content="CodePixar">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>T electronic device</title>
<!--
		CSS
		============================================= -->
<link rel="stylesheet" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/nouislider.min.css}">
<link rel="stylesheet" th:href="@{/css/ion.rangeSlider.css}" />
<link rel="stylesheet" th:href="@{/css/ion.rangeSlider.skinFlat.css}" />
<link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img
						th:src="@{/img/logo.jpg}" width="200px" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset"
						id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link"
								href="index.html">Home</a></li>
							<li class="nav-item submenu dropdown"><a href="#"
								class="nav-link dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="index.html">MÁY
											TÍNH PC</a></li>
									<li class="nav-item"><a class="nav-link"
										href="MayTinh.html">LAPTOP</a></li>
									<li class="nav-item"><a class="nav-link"
										href="checkout.html">ĐIỆN THOẠI</a></li>
									<li class="nav-item"><a class="nav-link" href="cart.html">MÁY
											TÍNH BẢNG</a></li>
								</ul></li>
							<li class="nav-item submenu dropdown"><a href="#"
								class="nav-link dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">accessory</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link"
										href="TrangLienKet">Bàn Phím</a></li>
									<li class="nav-item"><a class="nav-link"
										href="TrangLienKet">Loa</a></li>
									<li class="nav-item"><a class="nav-link"
										href="TrangLienKet">Tay Nghe</a></li>
								</ul></li>
							<li class="nav-item submenu dropdown"><a href="#"
								class="nav-link dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
								</ul></li>
							<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="#" class="cart"><span
									class="ti-bag"></span></a></li>
							<li class="nav-item">
								<button class="search">
									<span class="lnr lnr-magnifier" id="search"></span>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input"
						placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1 style="font-size: 45px">electronic device</h1>
									<h2>Vietnam's top!</h2>
									<p>Hàng 100% chính hãng được phân phối bởi hệ thống bán lẻ
										kỹ thuật số cùng với nhiều khuyến mãi hấp dẫn, bảo hành 12 -
										24 tháng chính hãng. Mua trực tuyến giá rẻ hãy đến ngay với T
										Electronic Device</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" th:src="@{/img/banner/banner-img.png}"
										alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1 style="font-size: 45px">electronic device</h1>
									<h2>Vietnam's top!</h2>
									<p>Hàng 100% chính hãng được phân phối bởi hệ thống bán lẻ
										kỹ thuật số cùng với nhiều khuyến mãi hấp dẫn, bảo hành 12 -
										24 tháng chính hãng. Mua trực tuyến giá rẻ hãy đến ngay với T
										Electronic Device</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" th:src="@{/img/banner/banner-img.png}"
										alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->


	<!-- start product Area -->
	<section class="owl-carousel active-product-area section_gap">
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>LapTop</h1>
							<p>Những sản phẩm tốt nhất hiện nay, bảo thành lên đến 24
								tháng</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<a th:href="@{/product/details}"><img class="img-fluid"
								th:src="@{/img/product/p8.jpg}" alt=""> </a>
							<div class="product-details">
								<h3>Asus Rog Zephyrus</h3>
								<h6>AMD Ryzen™ 7-5800HS, RAM 16GB, SSD 512GB, RTX 3060,
									144Hz(No.2962)</h6>
								<div class="price">
									<h6>27.690.000 đ</h6>
									<h6 class="l-through"></h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info"> <span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a> <a href="" class="social-info"> <span
										class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>LapTop</h1>
							<p>Những sản phẩm tốt nhất hiện nay, bảo thành lên đến 24
								tháng</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p1.jpg" alt="">
							<div class="product-details">
								<h3>Acer Nitro 5 (2021)</h3>
								<h5>Core™ i5-11400H, RAM 8GB, SSD 256GB, GTX 1650,
									144Hz(No.2981)</h5>
								<div class="price">
									<h6>15.000.000 đ</h6>
									<h6 class="l-through">$15.990.000 đ</h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info"> <span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a> <a href="" class="social-info"> <span
										class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p2.jpg" alt="">
							<div class="product-details">
								<h3>Dell Gaming G15</h3>
								<h6>Ryzen 5-5600H, RAM 8GB, SSD 256GB, RTX 3050, FHD
									120Hz(No.3028)</h6>
								<div class="price">
									<h6>18.990.000 đ</h6>
									<h6 class="l-through">$21.800.000 đ</h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info"> <span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a> <a href="" class="social-info"> <span
										class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p3.jpg" alt="">
							<div class="product-details">
								<h3>HP Zbook Firefly15 G7</h3>
								<h6>Core i5 10310U, Ram 16GB, SSD 256GB, Quadro P520,
									FHD(No.2659)</h6>
								<div class="price">
									<h6>15.330.000 đ</h6>
									<h6 class="l-through">$18.330.00 đ</h6>
								</div>
								<div class="prd-bottom">
									<a href="" class="social-info"> <span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a> <a href="" class="social-info"> <span
										class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p4.jpg" alt="">
							<div class="product-details">
								<h3>Lenovo Yoga 7 14ITL5</h3>
								<h6>Core™ i5-1135G7, RAM 12GB, SSD 512GB, QUADRO P500, FHD
									170HZ(No.2907)</h6>
								<div class="price">
									<h6>17.000.000 đ</h6>
									<h6 class="l-through">19.490.000 đ</h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info"> <span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a> <a href="" class="social-info"> <span
										class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p5.jpg" alt="">
							<div class="product-details">
								<h3>Dell Latitude 7420 Gen 11th</h3>
								<h6>Core™ i5-1145G7, RAM 8GB, SSD 256GB, FHD (No.2923)</h6>
								<div class="price">
									<h6>17.490.000 đ</h6>
									<h6 class="l-through">20.900.000</h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info"> <span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a> <a href="" class="social-info"> <span
										class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p6.jpg" alt="">
							<div class="product-details">
								<h3>Razer Blade Stealth 13</h3>
								<h6>Core™ i7-1165G7, RAM 16GB, SSD 512GB, FHD
									120Hz(No.2917)</h6>
								<div class="price">
									<h6>42.990.000 đ</h6>
									<h6 class="l-through">52.900.000</h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info"> <span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a> <a href="" class="social-info"> <span
										class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p7.jpg" alt="">
							<div class="product-details">
								<h3>HP Spectre X360 15 (2021) Nightfall Black</h3>
								<H6>Core i7-1165G7, Ram 16GB, SSD 256GB, 15.6 UHD(No.2834)</H6>
								<div class="price">
									<h6>28.490.000 đ</h6>
									<h6 class="l-through">33.890.000 đ</h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info"> <span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a> <a href="" class="social-info"> <span
										class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p8.jpg" alt="">
							<div class="product-details">
								<h3>Asus Rog Zephyrus</h3>
								<h6>AMD Ryzen™ 7-5800HS, RAM 16GB, SSD 512GB, RTX 3060,
									144Hz(No.2962)</h6>
								<div class="price">
									<h6>27.690.000 đ</h6>
									<h6 class="l-through"></h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info"> <span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a> <a href="" class="social-info"> <span
										class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a> <a href="" class="social-info"> <span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end product Area -->

	<!-- Start exclusive deal Area -->
	<section class="exclusive-deal-area">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6 no-padding exclusive-left">
					<div class="row clock_sec clockdiv" id="clockdiv">
						<div class="col-lg-12">
							<h1>TRONG THÁNG 5 NÀY!</h1>
							<p>Iphone 14 khuyến mãi đậm chất</p>
						</div>
						<div class="col-lg-12">
							<div class="row clock-wrap">
								<div class="col clockinner1 clockinner">
									<h1 class="days">150</h1>
									<span class="smalltext">Days</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="hours">23</h1>
									<span class="smalltext">Hours</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="minutes">47</h1>
									<span class="smalltext">Mins</span>
								</div>
								<div class="col clockinner clockinner1">
									<h1 class="seconds">59</h1>
									<span class="smalltext">Secs</span>
								</div>
							</div>
						</div>
					</div>
					<a href="" class="primary-btn">Shop Now</a>
				</div>
				<div class="col-lg-6 no-padding exclusive-right">
					<div class="active-exclusive-product-slider">
						<!-- single exclusive carousel -->
						<div class="single-exclusive-slider">
							<img class="img-fluid" src="img/product/ip14.png" alt="">
							<div class="product-details">
								<div class="price">
									<h6>26.450.000 đ</h6>
									<h6 class="l-through">30.990.000</h6>
								</div>
								<h4>iPhone 14 Pro Max 128GB</h4>
								<div
									class="add-bag d-flex align-items-center justify-content-center">
									<a class="add-btn" href=""><span class="ti-bag"></span></a> <span
										class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
						<!-- single exclusive carousel -->
						<div class="single-exclusive-slider">
							<img class="img-fluid" src="img/product/ip14.png" alt="">
							<div class="product-details">
								<div class="price">
									<h6>$150.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
								<h4>addidas New Hammer sole for Sports person</h4>
								<div
									class="add-bag d-flex align-items-center justify-content-center">
									<a class="add-btn" href=""><span class="ti-bag"></span></a> <span
										class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End exclusive deal Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>T Electronic Device is an authorized company to act as the
							main representative and distributor of high quality electronic
							and industrial electrical products and services in Vietnam
							market.</p>
						<!-- </p>The brands distributed by the company are world famous, including: Samsung, Apple, Lenovo...
						</p> -->
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true"
								action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
								method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL"
										placeholder="Enter Email" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Enter Email '" required=""
										type="email">


									<button class="click-btn btn btn-default">
										<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
									</button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a"
											tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>

						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Nationwide Branch</h6>
						<ul>
							<li><p>72 Võ Văn Kiệt, Bình Thùy, Cần Thơ</p></li>
							<li><p>172 Cái Khế, Ninh Kiều, Cần Thơ</p></li>
							<li><p>108 An Dương Vương, Q1, TPHCM</p></li>
							<li><p>97 Kha Vạn Cân, Thủ Đức, TPHCM</p></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
								class="fa fa-twitter"></i></a> <a href="#"><i
								class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div
				class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
					T Electronic equipment always accompanies you <i
						class="fa fa-heart-o" aria-hidden="true"></i>

				</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
	<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script
		th:src="@{/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery.sticky.js}"></script>
	<script th:src="@{/js/nouislider.min.js}"></script>
	<script th:src="@{/js/countdown.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<!--gmaps Js-->
	<script
		th:src="@{/https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE}"></script>
	<script th:src="@{/js/gmaps.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>

</html>